.container {
  margin: 80px auto;
  max-width: 450px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.content {
  width: 100%;
  background: white;
  margin-top: 50px;
  border-radius: 25px;
  padding: 3rem;
  text-align: center;

  &__btn {
    border: 0;
    border-radius: 50px;
    width: 100%;
    padding: 0.5rem 1.5rem;
    font-size: 16px;
    font-weight: bold;
    background: #f05a5b;
    color: #ffff;
    cursor: pointer;
    transition: opacity 0.2s;
    &:hover {
      opacity: 0.8;
    }
  }
  label {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 30px;
  }

  form {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #444;
    font-weight: bold;
    margin-top: 8px;
    input {
      margin-bottom: 20px;
      border: 1px solid #ddd;
      border-radius: 2px;
      height: 45px;
      padding: 0 15px;
      font-size: 16px;
    }
  }
}
